{% set distro_requires %}
  <variant op="=" value="BaseOS"/>
  <distro_family op="=" value="CentOSStream9"/>
{% endset %}
{% set ks_append | dedent %}
  <ks_append><![CDATA[
  %post
  # Enable CentOS Stream 9 Buildroot for test dependencies
  # not always the compose and buildroot compose have same date tag
  cat >/etc/yum.repos.d/BUILDROOT-9.repo <<EOF
  [BUILDROOT-C9S]
  name=BUILDROOT-C9S
  baseurl=http://download.stream.rdu2.redhat.com/koji/repos/c9s-build/latest/{{ ARCH }}
  enabled=1
  gpgcheck=0
  EOF
  %end
  ]]></ks_append>
{% endset %}
{% set host_requires %}
  {% if ARCH == "aarch64" %}
    <not>
      <or>
        {# NOTE(rasibley): Exclude X-Gene systems as they are unsupported for c9s and frequently abort #}
        <hostname op="like" value="hp%moonshot-%"/>
        <hostname op="like" value="apm-mustang-%"/>
        {# NOTE(rasibley): Exclude ThunderX (cn88xx) systems which are unsupported in c9s #}
        <hostname op="like" value="penguin-valkre%"/>
        <hostname op="like" value="gigabyte-r120%"/>
        <hostname op="like" value="gigabyte-r270%"/>
        {# NOTE (bgoncalv): Exclude Qualcomm Amberwings systems as they are unsupported in c9s #}
        <hostname op="like" value="qualcomm-amberwing%"/>
      </or>
    </not>
  {% endif %}
{% endset %}
